@charset "utf-8"; /*무조건 첫줄에 넣을 것. 언어 인코딩 세팅. 세미콜론 꼭! 찍어주새세요*/
*{
    margin: 0;
    padding: 0;
}
img, video, iframe{
    display: block; /*위 세 요소 밑의 여백 없애고 시작*/
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: 'Pretendard';
    font-size: 25px;
    color: #224E9F;
    line-height: 1.5;
    
}
/*main*/
#main{
    background-image: url(../img/main_page/background_bg.png);
    overflow-x: hidden;
}
/*header*/
#header{
   height: 100px;
   background-color: #E4E8F1;
}
#header .inner{
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    height: 100px;
    width: 1320px;
    margin: 0 auto;
}
#header .inner img{
    padding-bottom: 10px;
}
#header .inner ul{
    display: flex;
    gap: 60px;
    padding-bottom: 10px;
}
#header .inner li{
    font-weight: 700;
 }
#header .inner .menu_earth{
    padding-left: 55px;
}
/*video*/
.brand_video video{
    width: 100%;
}
/*movie_introduction*/
#movie_introduction .swiper-slide{
    position: relative;
}
.movie_introduction_inner{
    text-align: center;
    width: 1320px;
    margin: 0 auto;
    position: relative;
}
.camera{
    position: absolute;
    left: -300px;
    top: -14px;
}
.camera path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}
.person{
    position: absolute;
    right: -290px;
    bottom: -245px;
}
.movie_introduction_inner h2{
    font-family: "Gveret Levin", cursive;
    font-size: 40px;
    padding-bottom: 25px;
    padding-top: 195px;
}
.movie_introduction_inner h4{
    padding-bottom: 80px;
}
.introduction_slide{
    width: 1265px;
    margin: 0 auto;
}
.movie_info{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #E4E8F1;
    width: 250px;
    height: 378px;
    text-align: center;
    justify-content: center;
}
.movie_name{
    font-size: 25px ;
}
.movie_info .movie_des{
    font-size: 15px;
    padding-bottom: 20px;
}
.movie_info span{
    font-size: 15px;
    padding-top: 29px;
}
.tag{
    margin-top: 20px;
}
.tag ul{
    font-size: 15px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.tag ul li{
    padding-right: 10px;
    color: #272626;
    background-color: #cad4e6;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
}
#movie_introduction .swiper-slide{
    background-color: #cad4e6;
}
/*program*/
#program h2{
    font-family: "Gveret Levin", cursive;
    font-size: 40px;
    padding-bottom: 25px;
    padding-top: 195px;
    line-height: 1;
}
#program h4{
    padding-bottom: 80px;
}
#program .inner{
    text-align: center;
}
#program .tour{
    position: relative;
    width: 1320px;
    margin: 0 auto;
    position: relative;
}
.bird{
    position: absolute;
    top: -70px;
    left: -315px;
}
.icon4{
    position: absolute;
    right: -220px;
    bottom: 0;
    z-index: 10;
}
.boat{
    transition: transform .1s linear;
}
#program .road{
    padding-top: 380px;
}
/*program spot1*/
#program .spot1{
    position: absolute;
    top: 118px;
    left: 356px;
    width: 300px;
    background: #E4E8F1;
    border-radius: 10px 10px 0 0;
    padding: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
    text-align: center;
}
#program .spot1 img{
    width: 100%;
    display: block;
    border-radius: 10px;
    gap: 8px;
}
#program .spot1 h3{
    color: #272626;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
#program .spot1 .fin{
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: inline-block;
    justify-content:center;
}
#program .spot1 p{
    text-align: center;
    margin-top: 7px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
#program .spot1 .check{
    width: 18px;
    height: 18px;
}     
/*program spot2*/
#program .spot2{
    position: absolute;
    top: 118px;
    left: 831px;
    width: 300px;
    background: #E4E8F1;
    border-radius: 10px 10px 0 0;
    padding: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
    text-align: center;
}
#program .spot2 img{
    width: 100%;
    display: block;
    border-radius: 10px;
    gap: 8px;
}
#program .spot2 h3{
    color: #272626;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
#program .spot2 .fin{
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: inline-block;
    justify-content:center;
}
#program .spot2 p{
    text-align: center;
    margin-top: 7px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
#program .spot2 .check{
    width: 18px;
    height: 18px;
}
/*program spot3*/
#program .spot3{
    position: absolute;
    top:421px;
    left: 173px;
    width: 300px;
    background: #E4E8F1;
    border-radius: 10px 10px 0 0;
    padding: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
    text-align: center;
}
#program .spot3 img{
    width: 100%;
    display: block;
    border-radius: 10px;
    gap: 8px;
}
#program .spot3 h3{
    color: #272626;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
#program .spot3 .fin{
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: inline-block;
    justify-content:center;
}
#program .spot3 p{
    text-align: center;
    margin-top: 7px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
#program .spot3 .check{
    width: 18px;
    height: 18px;
}
/*program spot4*/
#program .spot4{
    position: absolute;
    top:421px;
    left: 640px;
    width: 300px;
    background: #E4E8F1;
    border-radius: 10px 10px 0 0;
    padding: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
    text-align: center;
}
#program .spot4 img{
    width: 100%;
    display: block;
    border-radius: 10px;
    gap: 8px;
}
#program .spot4 h3{
    color: #272626;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
#program .spot4 .fin{
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: inline-block;
    justify-content:center;
}
#program .spot4 p{
    text-align: center;
    margin-top: 7px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
#program .spot4 .check{
    width: 18px;
    height: 18px;
}
/*program spot5*/
#program .spot5{
    position: absolute;
    top:758px;
    left: 310px;
    width: 300px;
    background: #E4E8F1;
    border-radius: 10px 10px 0 0;
    padding: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
    text-align: center;
}
#program .spot5 img{
    width: 100%;
    display: block;
    border-radius: 10px;
    gap: 8px;
}
#program .spot5 h3{
    color: #272626;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
#program .spot5 .fin{
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: inline-block;
    justify-content:center;
}
#program .spot5 p{
    text-align: center;
    margin-top: 7px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
#program .spot5 .check{
    width: 18px;
    height: 18px;
}
/*program spot6*/
#program .spot6{
    position: absolute;
    top:758px;
    left: 790px;
    width: 300px;
    background: #E4E8F1;
    border-radius: 10px 10px 0 0;
    padding: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
    text-align: center;
}
#program .spot6 img{
    width: 100%;
    display: block;
    border-radius: 10px;
    gap: 8px;
}
#program .spot6 h3{
    color: #272626;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
#program .spot6 .fin{
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: inline-block;
    justify-content:center;
}
#program .spot6 p{
    text-align: center;
    margin-top: 7px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
#program .spot6 .check{
    width: 18px;
    height: 18px;
}
/*program logo*/
#program .logo1{
    position: absolute;
    top: 265px;
    left: 17px;
}
#program .logo2{
    position: absolute;
    top: 900px;
    left: 1184px;
}
/*busan in Movie*/
#in_movie h2{
    font-family: "Gveret Levin", cursive;
    font-size: 40px;
    padding-bottom: 25px;
    padding-top: 195px;
    line-height: 1;
}
#in_movie h4{
    padding-bottom: 80px;
    color: #E4E8F1;
}
#in_movie .inner{
    text-align: center;
}
.film_wrap{
    background-image: url(../img/main_page/busan_movie_film.png);
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
}
.film_track1{
    display: flex;
    gap: 20px;
    width: max-content;
    padding-top: 100px;
    padding-bottom: 20px;
    animation: flowleft 25s linear infinite;
}
@keyframes flowleft{
    from{
        transform: tanslatex(0);
    }
    to{
        transform: translateX(-50%);
    }
}
.film_track2{
    display: flex;
    gap: 20px;
    width: max-content;
    padding-bottom: 100px;
    animation: flowright 25s linear infinite;
}
@keyframes flowright{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0);
    }
}
/*review*/
#review h2{
    font-family: "Gveret Levin", cursive;
    font-size: 40px;
    padding-bottom: 25px;
    padding-top: 195px;
    color: #E4E8F1;
    line-height: 1;
}
#review h4{
    padding-bottom: 80px;
    color: #E4E8F1;
}
#review .inner{
    text-align: center;
}
#review{
    position: relative;
}
.star1{
    position: absolute;
    top: 0;
    left: 10px;
}
.star2{
    position: absolute;
    top: 230px;
    right: 10px;
}
/*photo1*/
.photo1{
    display: flex;
    padding: 0 30px;
    justify-content: center;
    color:#E4E8F1;
}
.photo1_des{
    background-image: url(../img/main_page/review_text_box.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    width: 570px;
    height: 380px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 37px;
    position: relative;
    bottom: -200px;
}
.photo1_des .program_name{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 25px;
}
.frofile1{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.frofile1_des p{
    font-size: 17px;
}
.frofile1_des span{
    font-size: 20px;
    font-weight: 600;
}
.content1{
    font-size: 15px;
    padding-top: 25px;
}
.content1 p{
    padding: 10px;
}
/*photo2*/
.photo2{
    display: flex;
    padding: 0 30px;
    justify-content: center;
    color:#E4E8F1;
}
.photo2_des{
    background-image: url(../img/main_page/review_text_box.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    width: 570px;
    height: 380px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 37px;
    position: relative;
    bottom: -200px;
}
.photo2_des .program_name{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 25px;
}
.frofile2{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.frofile2_des p{
    font-size: 17px;
}
.frofile2_des span{
    font-size: 20px;
    font-weight: 600;
}
.content1{
    font-size: 15px;
    padding-top: 25px;
}
.content1 p{
    padding: 10px;
}
.photo2 .slate{
    position: relative;
    bottom: -200px;
}
/*photo3*/
.photo3{
    display: flex;
    padding: 0 30px;
    justify-content: center;
    color:#E4E8F1;
    padding-bottom: 195px;
}
.photo3_des{
    background-image: url(../img/main_page/review_text_box.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    width: 570px;
    height: 380px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 37px;
    position: relative;
    bottom: -400px;
}
.photo3_des .program_name{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 25px;
}
.frofile3{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.frofile3_des p{
    font-size: 17px;
}
.frofile3_des span{
    font-size: 20px;
    font-weight: 600;
}
.content1{
    font-size: 15px;
    padding-top: 25px;
}
.content1 p{
    padding: 10px;
}
.photo3 .tv{
    position: relative;
    bottom: -160px;
}
/*tour_merch*/
#tour_merch h2{
    font-family: "Gveret Levin", cursive;
    font-size: 40px;
    padding-bottom: 25px;
    padding-top: 195px;
    color: #E4E8F1;
    line-height: 1;
}
#tour_merch h4{
    padding-bottom: 80px;
    color: #E4E8F1;
}
#tour_merch .inner{
    text-align: center;
}
.merch_menu ul{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.merch_menu ul li{
    color: #224E9F;
    background-color:#E4E8F1;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
}
.menu_des{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 55px;
    padding-top: 80px;
    color: #E4E8F1;
    justify-content: center;
}
.menu_des img{
    padding-bottom: 20px;
}
#tour_merch .menu_name{
    font-weight: 600;
}
#tour_merch .menu_price{
    padding: 15px 0;
    font-weight: 700;
    font-size: 15px;
}
#tour_merch .menu_ex{
    font-size: 15px;
}
/*event*/
#event h2{
    font-family: "Gveret Levin", cursive;
    font-size: 40px;
    padding-bottom: 25px;
    padding-top: 195px;
    color: #E4E8F1;
    line-height: 1;
}
#event h4{
    padding-bottom: 40px;
    color: #E4E8F1;
}
#event .inner{
    text-align: center;
}
#event .swiper-slide{
    display: flex;
    justify-content: center;

}
#event .swiper-slide img{
    display: block;
}
.event{
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
}
#event{
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 50px;
}
/*footer*/
#footer{
    background-color: #E4E8F1;
}
#footer .inner{
    color: #272626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    width: 1320px;
    margin: 0 auto;
    box-sizing:border-box;
}
.inner_des li{
    display: flex;
    justify-content: end;
    padding-bottom: 5px;
    font-size: 15px;
}
.inner_des span{
    font-weight: 600;
    padding: 0 5px;
}
#footer .sns{
    display: flex;
    gap: 15px;
}